<div class="row altura-max bg-gradient">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="row">
            <div class="card" style="max-width: 30rem; min-width: 20rem;">
                <img class="card-img-top" src="../../../assets/401.png" alt="Card image cap">
                <div class="card-body p-1">
                    <div class="row d-flex justify-content-end">
                        <div class="col-sm-8">
                            <p class="card-text">Acesso não permitido!</p>
                        </div>
                        <div class="col-sm-4 text-right">
                            <button class="btn btn-danger btn-sm" routerLink="/painel">Página Inicial</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>